<!-- start custom Dorrbell section -->
<div class="container" style="padding-top: 50px;">
  <div style="width: 50%;float:left;padding:0 25px 0 0;">
    <a href="/collections/women-clothing/new"><img src="{{'home-new-arrivals.jpg' | asset_url }}" border="0"></a>
  </div>
  <div style="width: 50%; float:left;padding:0 0 0 25px;">
    <a href="/collections/women-clothing/under-50"><img src="{{ 'home-under-50.jpg' | asset_url }}" border="0"></a>
  </div>
</div>
<!--<div class="container">
  <div style="width:100%; padding-top: 50px; border: solid 5px red; clear:both;">
    <a href="/collections/women-clothing/new"><img src="{{'test-image2.jpg' | asset_url }}" border="0"></a>
  </div>
</div>-->

<!-- end custom section -->